table {
  width: 100%;
  
  }
  
  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;

  }
  
  td, th {
    width: auto;
  }
  .edit{
    background: rgb(64, 56, 224);
  }
  .delete{
    background: firebrick;
  }
  
  