.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.container{
  margin: 20px;
}
.icons{
  display: flex;
  justify-content: flex-end;
}

.per{
  width: 60px;
  display: flex;
  justify-content: flex-end;
}
.content{
  width: 90%;
}